In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Bengaluru_House_Data.csv")
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [3]:
df.shape

(13320, 9)

In [4]:
df.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [5]:
df.describe(include="all")

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
count,13320,13320,13319,13304,7818,13320,13247.000000,12711.000000,13320.000000
unique,4,81,1305,31,2688,2117,NaN,NaN,NaN
top,Super built-up Area,Ready To Move,Whitefield,2 BHK,GrrvaGr,1200,NaN,NaN,NaN
freq,8790,10581,540,5199,80,843,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,2.692610,1.584376,112.565627
std,NaN,NaN,NaN,NaN,NaN,NaN,1.341458,0.817263,148.971674
min,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,8.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,1.000000,50.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,2.000000,72.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,2.000000,120.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,40.000000,3.000000,3600.000000

In [6]:
df.head(15)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00
6,Super built-up Area,18-May,Old Airport Road,4 BHK,Jaades,2732,4.0,NaN,204.00
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4.0,NaN,600.00
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,NaN,1310,3.0,1.0,63.25
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,NaN,1020,6.0,NaN,370.00
10,Super built-up Area,18-Feb,Whitefield,3 BHK,NaN,1800,2.0,2.0,70.00
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785,5.0,3.0,295.00
12,Super built-up Area,Ready To Move,7th Phase JP Nagar,2 BHK,Shncyes,1000,2.0,1.0,38.00
13,Built-up Area,Ready To Move,Gottigere,2 BHK,NaN,1100,2.0,2.0,40.00
14,Plot Area,Ready To Move,Sarjapur,3 Bedroom,Skityer,2250,3.0,2.0,148.00

In [7]:
null_values = pd.isnull(df).sum()
null_values

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [8]:
null_values = pd.isnull(df).sum().sum()
null_values

6201

In [9]:
##how to handle missing values
#1. filling the missing values with some value
#2. Drop them
#3. Replace the missing values

In [10]:
df1 = df.fillna(value="fill")
df1

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,fill,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,fill,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,fill,3600,5.0,fill,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,fill,550,1.0,1.0,17.00

In [11]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [12]:
df2 = df.fillna(method="pad")
df2

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,Theanmp,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,Soiewre,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,ArsiaEx,3600,5.0,0.0,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,SollyCl,550,1.0,1.0,17.00

In [13]:
null_values2 = pd.isnull(df2).sum().sum()
null_values2

0

In [14]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [15]:
df3 = df.fillna(method="bfill")
df3

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,Soiewre,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,DuenaTa,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,Mahla T,3600,5.0,1.0,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [20]:
df4 = df.fillna(method="pad", axis=1)
df4

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.0
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,3 BHK,1440,2.0,3.0,62.0
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.0
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,2 BHK,1200,2.0,1.0,51.0
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.0
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,4 BHK,3600,5.0,5.0,400.0
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.0
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.0
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,1 BHK,550,1.0,1.0,17.0

In [22]:
df5 = df.fillna(method="bfill", axis=1)
df5

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.0
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440,1440,2.0,3.0,62.0
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.0
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200,1200,2.0,1.0,51.0
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.0
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,3600,3600,5.0,400.0,400.0
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.0
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.0
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,550,550,1.0,1.0,17.0

In [24]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [26]:
df6 = df.fillna({
    "society":"Nigeria",
    "balcony":1234
})
df6

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,Nigeria,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,Nigeria,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,Nigeria,3600,5.0,1234.0,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,Nigeria,550,1.0,1.0,17.00

In [38]:
df7 = df["balcony"].fillna(value = df["balcony"].mean())
df7.head(15)

0     1.000000
1     3.000000
2     3.000000
3     1.000000
4     1.000000
5     1.000000
6     1.584376
7     1.584376
8     1.000000
9     1.584376
10    2.000000
11    3.000000
12    1.000000
13    2.000000
14    2.000000
Name: balcony, dtype: float64

In [46]:
df8 = df["bath"].fillna(value = df["bath"].median())
df8.head(15)

0     2.0
1     5.0
2     2.0
3     3.0
4     2.0
5     2.0
6     4.0
7     4.0
8     3.0
9     6.0
10    2.0
11    5.0
12    2.0
13    2.0
14    3.0
Name: bath, dtype: float64

In [48]:
df8 = df["bath"].fillna(value = df["bath"].mode())
df8.head(15)

0     2.0
1     5.0
2     2.0
3     3.0
4     2.0
5     2.0
6     4.0
7     4.0
8     3.0
9     6.0
10    2.0
11    5.0
12    2.0
13    2.0
14    3.0
Name: bath, dtype: float64

In [49]:
df8 = df["bath"].fillna(value = df["bath"].max())
df8.head(15)

0     2.0
1     5.0
2     2.0
3     3.0
4     2.0
5     2.0
6     4.0
7     4.0
8     3.0
9     6.0
10    2.0
11    5.0
12    2.0
13    2.0
14    3.0
Name: bath, dtype: float64

In [50]:
df8 = df["bath"].fillna(value = df["bath"].min())
df8.head(15)

0     2.0
1     5.0
2     2.0
3     3.0
4     2.0
5     2.0
6     4.0
7     4.0
8     3.0
9     6.0
10    2.0
11    5.0
12    2.0
13    2.0
14    3.0
Name: bath, dtype: float64

In [44]:
df["balcony"].fillna(df["balcony"].mean(), inplace = True)

In [52]:
null = pd.isnull(df)
null

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...
13315,False,False,False,False,False,False,False,False,False
13316,False,False,False,False,True,False,False,False,False
13317,False,False,False,False,False,False,False,False,False
13318,False,False,False,False,False,False,False,False,False
13319,False,False,False,False,True,False,False,False,False

In [53]:
##df.isin() === detect missing values
missing = [None, " ", "NA", np.nan]
missing = df.isin(missing)
missing

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...
13315,False,False,False,False,False,False,False,False,False
13316,False,False,False,False,True,False,False,False,False
13317,False,False,False,False,False,False,False,False,False
13318,False,False,False,False,False,False,False,False,False
13319,False,False,False,False,True,False,False,False,False

In [55]:
## filling in missing values with df.mask

missing = [None, " ", "NA", np.nan]
missing = df.isin(missing)
df.mask(missing,"empty").head(20)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.0
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,empty,1440,2.0,3.0,62.0
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.0
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,empty,1200,2.0,1.0,51.0
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.0
6,Super built-up Area,18-May,Old Airport Road,4 BHK,Jaades,2732,4.0,1.584376,204.0
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4.0,1.584376,600.0
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,empty,1310,3.0,1.0,63.25
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,empty,1020,6.0,1.584376,370.0
10,Super built-up Area,18-Feb,Whitefield,3 BHK,empty,1800,2.0,2.0,70.0
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785,5.0,3.0,295.0
12,Super built-up Area,Ready To Move,7th Phase JP Nagar,2 BHK,Shncyes,1000,2.0,1.0,38.0
13,Built-up Area,Ready To Move,Gottigere,2 BHK,empty,1100,2.0,2.0,40.0
14,Plot Area,Ready To Move,Sarjapur,3 Bedroom,Skityer,2250,3.0,2.0,148.0
15,Super built-up Area,Ready To Move,Mysore Road,2 BHK,PrntaEn,1175,2.0,2.0,73.5
16,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1180,3.0,2.0,48.0
17,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1540,3.0,3.0,60.0
18,Super built-up Area,Ready To Move,Ramakrishnappa Layout,3 BHK,PeBayle,2770,4.0,2.0,290.0
19,Super built-up Area,Ready To Move,Manayata Tech Park,2 BHK,empty,1100,2.0,2.0,48.0

In [56]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.000000,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.000000,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.000000,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.000000,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.000000,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.000000,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,1.584376,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.000000,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.000000,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.000000,17.00

In [58]:
df9 = df.dropna(axis=1) ##axis = 0(default) == drops all rows with missing values,
df9                     ##axis = 1 == drops all columns with missing values

                  area_type   availability total_sqft   balcony   price
0      Super built-up  Area         19-Dec       1056  1.000000   39.07
1                Plot  Area  Ready To Move       2600  3.000000  120.00
2            Built-up  Area  Ready To Move       1440  3.000000   62.00
3      Super built-up  Area  Ready To Move       1521  1.000000   95.00
4      Super built-up  Area  Ready To Move       1200  1.000000   51.00
...                     ...            ...        ...       ...     ...
13315        Built-up  Area  Ready To Move       3453  0.000000  231.00
13316  Super built-up  Area  Ready To Move       3600  1.584376  400.00
13317        Built-up  Area  Ready To Move       1141  1.000000   60.00
13318  Super built-up  Area         18-Jun       4689  1.000000  488.00
13319  Super built-up  Area  Ready To Move        550  1.000000   17.00

[13320 rows x 5 columns]

In [64]:
df10 = df.dropna(axis= 1, how="any") ##as long as there is a missing value in the row or column, the column or row gets dropped
df10

                  area_type   availability total_sqft   balcony   price
0      Super built-up  Area         19-Dec       1056  1.000000   39.07
1                Plot  Area  Ready To Move       2600  3.000000  120.00
2            Built-up  Area  Ready To Move       1440  3.000000   62.00
3      Super built-up  Area  Ready To Move       1521  1.000000   95.00
4      Super built-up  Area  Ready To Move       1200  1.000000   51.00
...                     ...            ...        ...       ...     ...
13315        Built-up  Area  Ready To Move       3453  0.000000  231.00
13316  Super built-up  Area  Ready To Move       3600  1.584376  400.00
13317        Built-up  Area  Ready To Move       1141  1.000000   60.00
13318  Super built-up  Area         18-Jun       4689  1.000000  488.00
13319  Super built-up  Area  Ready To Move        550  1.000000   17.00

[13320 rows x 5 columns]

In [66]:
df10 = df.dropna(how="all") ##the rows or columns only gets dropped when all the values are missing
df10

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.000000,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.000000,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.000000,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.000000,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.000000,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.000000,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,1.584376,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.000000,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.000000,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.000000,17.00

In [68]:
df.iloc[2]

area_type       Built-up  Area
availability     Ready To Move
location           Uttarahalli
size                     3 BHK
society                    NaN
total_sqft                1440
bath                       2.0
balcony                    3.0
price                     62.0
Name: 2, dtype: object

In [75]:
df10 = df.dropna(thresh=2) 
df10

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.000000,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.000000,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.000000,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.000000,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.000000,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.000000,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,1.584376,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.000000,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.000000,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.000000,17.00

In [70]:
df["society"]

0        Coomee
1        Theanmp
2            NaN
3        Soiewre
4            NaN
          ...
13315    ArsiaEx
13316        NaN
13317    Mahla T
13318    SollyCl
13319        NaN
Name: society, Length: 13320, dtype: object

In [76]:
df10 = df.dropna(thresh=5) ##Keep only the rows with at least 5 non-NA values.
df10

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.000000,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.000000,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.000000,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.000000,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.000000,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.000000,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,1.584376,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.000000,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.000000,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.000000,17.00

In [78]:
df11= df.replace(to_replace=np.nan,value="abcd")
df11

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.000000,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.000000,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,abcd,1440,2.0,3.000000,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.000000,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,abcd,1200,2.0,1.000000,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.000000,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,abcd,3600,5.0,1.584376,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.000000,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.000000,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,abcd,550,1.0,1.000000,17.00

In [80]:
df12=df.replace(to_replace="Ready To Move", value="Just Go")
df12

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.000000,39.07
1,Plot Area,Just Go,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.000000,120.00
2,Built-up Area,Just Go,Uttarahalli,3 BHK,NaN,1440,2.0,3.000000,62.00
3,Super built-up Area,Just Go,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.000000,95.00
4,Super built-up Area,Just Go,Kothanur,2 BHK,NaN,1200,2.0,1.000000,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Just Go,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.000000,231.00
13316,Super built-up Area,Just Go,Richards Town,4 BHK,NaN,3600,5.0,1.584376,400.00
13317,Built-up Area,Just Go,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.000000,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.000000,488.00
13319,Super built-up Area,Just Go,Doddathoguru,1 BHK,NaN,550,1.0,1.000000,17.00

In [83]:
df13=df.replace(to_replace="1440", value=1)
df13

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.000000,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.000000,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1,2.0,3.000000,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.000000,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.000000,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.000000,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,1.584376,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.000000,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.000000,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.000000,17.00

In [84]:
df12=df["availability"].replace(to_replace="Ready To Move", value="Go")
df12

0        19-Dec
1            Go
2            Go
3            Go
4            Go
          ...
13315        Go
13316        Go
13317        Go
13318    18-Jun
13319        Go
Name: availability, Length: 13320, dtype: object

In [85]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.000000,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.000000,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.000000,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.000000,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.000000,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.000000,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,1.584376,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.000000,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.000000,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.000000,17.00

###Unique Values

In [91]:
df["location"].unique()

array(['Electronic City Phase II', 'Chikka Tirupathi', 'Uttarahalli', ...,
       '12th cross srinivas nagar banshankari 3rd stage',
       'Havanur extension', 'Abshot Layout'], dtype=object)

In [95]:
df["location"].unique().tolist()

['Electronic City Phase II',
 'Chikka Tirupathi',
 'Uttarahalli',
 'Lingadheeranahalli',
 'Kothanur',
 'Whitefield',
 'Old Airport Road',
 'Rajaji Nagar',
 'Marathahalli',
 'Gandhi Bazar',
 '7th Phase JP Nagar',
 'Gottigere',
 'Sarjapur',
 'Mysore Road',
 'Bisuvanahalli',
 'Raja Rajeshwari Nagar',
 'Ramakrishnappa Layout',
 'Manayata Tech Park',
 'Kengeri',
 'Binny Pete',
 'Thanisandra',
 'Bellandur',
 ' Thanisandra',
 'Mangammanapalya',
 'Electronic City',
 'Ramagondanahalli',
 'Yelahanka',
 'Hebbal',
 'Kasturi Nagar',
 'Kanakpura Road',
 'Electronics City Phase 1',
 'Kundalahalli',
 'Chikkalasandra',
 'Murugeshpalya',
 'Sarjapur  Road',
 'Ganga Nagar',
 'HSR Layout',
 'Doddathoguru',
 'KR Puram',
 'Himagiri Meadows',
 'Adarsh Nagar',
 'Bhoganhalli',
 'Lakshminarayana Pura',
 'Begur Road',
 'Devanahalli',
 'Govindaraja Nagar Ward',
 'Tharabanahalli',
 'Varthur',
 'Bommanahalli',
 'Gunjur',
 'Devarachikkanahalli',
 'Double Road',
 'Hegde Nagar',
 'Haralur Road',
 'Hennur Road',
 'Kothannur',
 'Kalena Agrahara',
 'Cholanayakanahalli',
 'Kaval Byrasandra',
 'ISRO Layout',
 'Kodanda Reddy Layout',
 'Garudachar Palya',
 'EPIP Zone',
 'Dasanapura',
 'Kasavanhalli',
 'Sanjay nagar',
 ' Mysore Highway',
 'Domlur',
 'Sarjapura - Attibele Road',
 'Devasthanagalu',
 'T Dasarahalli',
 'Yeshwanthpur',
 'Chandapura',
 'Green View Layout',
 'Shantiniketan Layout',
 'Peenya',
 'Nagarbhavi',
 'Jalahalli West',
 'Lakshmiamma Garden',
 'Byatarayanapura',
 'Ramamurthy Nagar',
 'Malleshwaram',
 'Akshaya Nagar',
 'Shampura',
 'Kadugodi',
 'LB Shastri Nagar',
 'Vajarahalli',
 'Hormavu',
 'Vishwapriya Layout',
 'Ramaswamy Palya - Kammanahalli Main Road',
 'Kudlu Gate',
 '8th Phase JP Nagar',
 'Bommasandra Industrial Area',
 'Chandra Layout',
 'Anandapura',
 'Vishveshwarya Layout',
 'Kengeri Satellite Town',
 'Basavanapura',
 'Dinnur',
 'Kannamangala',
 ' Devarachikkanahalli',
 'Sanjeevini Nagar',
 'Hulimavu',
 'Mahalakshmi Layout',
 'Yarandahalli',
 'Hosa Road',
 'Keshava Nagar',
 'RMV Extension',
 'Tejaswini Nagar',
 'Jai Bheema Nagar',
 'Kothnur Narayanapura',
 'Attibele',
 'CV Raman Nagar',
 'CHIKKATIRUPATHI',
 'Kumaraswami Layout',
 'Nagavara',
 'Hebbal Kempapura',
 'Vijayanagar',
 '8th block Koramangala',
 'Jakkuru Layout',
 'Pattandur Agrahara',
 'Ejipura',
 'MS Pallya',
 'Nagasandra',
 'Langford Town',
 'Kogilu',
 'Panathur',
 'Nagondanahalli',
 'Padmanabhanagar',
 '1st Block Jayanagar',
 'Kammasandra',
 'Off Sarjapur Road, ',
 'Tala Cauvery Layout',
 'Dasarahalli',
 'Magadi Road',
 'Ngef Layout',
 'Koramangala',
 'Lakshminarayanapura, Electronic City Phase 2',
 'Muthurayya Swamy Layout',
 'Dommasandra',
 'Budigere',
 'Dodda Nekkundi Extension',
 'Mylasandra',
 'Kalyan nagar',
 'Dr Shivarama Karantha Nagar',
 'Bank Of Baroda Colony',
 'Kullappa Colony',
 'Mukkutam Nagar',
 'Ashwath Nagar',
 'Ncpr Industrial Layout',
 'Meenakunte',
 'OMBR Layout',
 'Anand Nagar',
 'Shree Ananth Nagar Layout',
 'Kundalahalli Colony',
 'Horamavu Agara',
 'MCECHS  layout',
 'Coffee Board Layout',
 'Ambedkar Nagar',
 'KUDLU MAIN ROAD',
 'Geleyara Balaga Layout',
 'Talaghattapura',
 'Sundara Nagar',
 'Balagere',
 'Jigani',
 'Gollarapalya Hosahalli',
 'Srirampura',
 'Old Madras Road',
 'Kaggadasapura',
 'Silver Springs Layout',
 '9th Phase JP Nagar',
 'Jakkur',
 'TC Palaya',
 'Maruthi Sevanagar',
 'RMV 2nd Stage',
 'Giri Nagar',
 'Singasandra',
 'AECS Layout',
 'Mallasandra',
 'Begur',
 'JP Nagar',
 'Sunder Ram Shetty Nagar',
 'Malleshpalya',
 'Kodathi',
 'Munnekollal',
 'Motappa Layout',
 'Akshaya Vana',
 'Kaggalipura',
 'Basavanna Nagar',
 '6th Phase JP Nagar',
 'Ulsoor',
 'Thigalarapalya',
 'Somasundara Palya',
 'T.C PALYA',
 'Muneshwara Nagar',
 'Basaveshwara Nagar',
 'Bull Temple Road',
 'Bommasandra',
 'Prashanth Nagar',
 'Suragajakkanahalli',
 'Ardendale',
 'Harlur',
 'Sampigehalli',
 'RMV',
 'Banashankari3rd stage bigbazar',
 'Bagalur Main Road',
 'Kodihalli',
 'Narayanapura',
 'Binny Mills Employees Colony',
 'Bannerghatta Road',
 'Hennur',
 '5th Phase JP Nagar',
 'Kodigehaali',
 'Gopalapura',
 'Billekahalli',
 'Jalahalli',
 'Mahadevpura',
 'Anekal',
 'Hoodi Circle, ',
 'Sompura',
 'Ashirvad Colony',
 'Dodda Nekkundi',
 'K N Extension',
 'Hosur Road',
 'Battarahalli',
 'Gokula Extension',
 'Kamakshipalya',
 'Sultan Palaya',
 'Sanne Amanikere',
 'Amco Colony',
 'Ambalipura',
 'Hoodi',
 'Samethanahalli',
 'Brookefield',
 'Yelenahalli',
 'Richmond Town',
 'Suddaguntepalya',
 'Udayapur Village',
 'Vittasandra',
 'Thippasandra',
 'Chikkabidarakallu',
 '1 Giri Nagar',
 'Hoysalanagar',
 'Defence Colony',
 '2nd Stage Nagarbhavi',
 'Vidyaranyapura',
 'Amruthahalli',
 'ITI Employees Layout',
 'Kodigehalli',
 'Patelappa Layout',
 'Ring Road Nagarbhavi',
 'NS Palya',
 'Subramanyapura',
 'Basavangudi',
 'Kenchenahalli',
 '3rd Block Hrbr Layout',
 'Bank Avenue',
 'Surabhi Layout',
 'Banjara Layout',
 'Omkar Nagar',
 'Kereguddadahalli',
 'Maragondanahalli',
 'Silk Board',
 'Kada Agrahara',
 'Kambipura',
 'BHEL Layout',
 'Medahalli',
 'Banashankari Stage III',
 'Kashi Nagar',
 'Sector 7 HSR Layout',
 'Yemlur, Old Airport Road, ',
 'VHBCS Layout',
 'Ittamadu',
 'Rajiv Nagar',
 'Gattahalli',
 'Arekere',
 'Ramanjaneyanagar',
 'Mico Layout',
 '7th Block Jayanagar',
 '2nd Phase JP Nagar',
 'Kammanahalli',
 'K G Colony',
 'Banashankari',
 'Herohalli',
 'Chikkabanavar',
 'HRBR Layout',
 nan,
 'Ashwini layout',
 'Marathalli bridge',
 'Dooravani Nagar',
 'JCR Layout',
 'Nehru Nagar',
 'Kanakapura',
 'Papareddipalya',
 'Venkatapura',
 'Sneha Colony',
 'Konanakunte',
 'Hosapalya',
 'Doddagubbi',
 'Sector 6 HSR Layout',
 'Margondanahalli',
 'ITI Layout',
 'R.T. Nagar',
 'Tumkur Road',
 'Vasanthapura',
 'Hosahalli',
 'GM Palaya',
 'near Ramanashree California resort',
 '6th block banashankari 3rd stage, 100 feet ORR',
 'Jalahalli East',
 'Poornapragna Housing Society Layout',
 'Hosakerehalli',
 'Huskur',
 'Indira Nagar',
 'Shanthala Nagar',
 'Teachers Colony',
 'Bettahalsoor',
 'Srinivasa Nagar',
 'Sulthangunta',
 'Byrathi Village',
 'Kodichikkanahalli',
 'Ambedkar Colony',
 'Varthur Road',
 'Anjappa Layout',
 'Avalahalli',
 'Prakruthi Nagar',
 'Sadaramangala',
 'Anjanapura',
 'Abbigere',
 'Tindlu',
 'B Narayanapura',
 'Green Garden Layout',
 'Gubbalala',
 'Dairy Circle',
 'Parappana Agrahara',
 'Jeevan bima nagar',
 'Narayana Nagar 1st Block',
 'KSRTC Layout',
 'P&T Colony',
 'Cunningham Road',
 'New Gurappana Palya',
 'Chelekare',
 'Palanahalli',
 'Vadarpalya',
 'Kudlu',
 'Shivanagar',
 'V.V Puram',
 'Sector 3 HSR Layout',
 'Banashankari Stage VI',
 'HMT Layout',
 'Basavanagara',
 'Cox Town',
 'Kalasipalya',
 'Kathriguppe',
 'HBR Layout',
 '4 Bedroom Farm House in Bagalur',
 'Yelahanka New Town',
 'Sahakara Nagar',
 'manyata park',
 'Rachenahalli',
 'Belathur',
 'Sadashiva Nagar',
 'Yelachenahalli',
 'Shirdi Sai Layout',
 'Kodbisanhalli',
 'Sathya Sai Layout',
 'Indiranagar HAL 2nd Stage',
 'Vishwanatha Nagenahalli',
 'Singapura Village',
 'Bendiganahalli',
 'Hosakerehalli Layout',
 'Hennagara',
 'Ferrar Nagar',
 'Green Glen Layout',
 'BAGUR',
 'Thubarahalli',
 'M.G Road',
 'Naganathapura',
 'Horamavu Banaswadi',
 '1st Phase JP Nagar',
 'Kaverappa Layout',
 'NGR Layout',
 'Divya Unnathi Layout',
 'Vasantha Vallabha Nagar',
 'sapthagiri Layout',
 'Seegehalli',
 'BEML Layout',
 'Alur',
 'Devarabisanahalli',
 'NRI Layout',
 'Sidedahalli',
 'Dwarka Nagar',
 'ITPL',
 'Thurahalli',
 'Hallehalli',
 'Kattigenahalli',
 'Marathi Layout',
 'Weavers Colony',
 'Raghavendra Nagar',
 'KR Layout',
 'Babusapalaya',
 'Nagappa Reddy Layout',
 'Kempapura',
 'BTM 1st Stage',
 'Kariyammana Agrahara',
 'Hessarghatta',
 'Binnamangala',
 'Suraksha Nagar',
 'Lakshmi Layout',
 'Iblur Village',
 'Kadugondanahalli',
 'Basava Nagar',
 '2nd Block Hrbr Layout',
 'Ananth Nagar',
 'Canara Bank Layout',
 'Narasapura',
 'Manjunath Nagar',
 'Basapura',
 'Channasandra',
 'Singena Agrahara',
 'Sector 1 HSR Layout',
 'Mango Garden Layout',
 'Kacharakanahalli',
 'Bidere Agarahara, Behind Safal market',
 'Grihalakshmi Layout',
 'Gopalkrishna Nagar',
 'Choodasandra',
 'Sai Gardens',
 'Dodda Kempaiah Layout',
 'Hanumanth Nagar',
 'Kaikondrahalli',
 'Hunasamaranahalli',
 'RWF West Colony',
 'Bileshivale',
 'Neeladri Nagar',
 'Frazer Town',
 'Williams Town',
 'Jaya Nagar East',
 'Iggalur',
 'Cooke Town',
 'Doddakallasandra',
 'Chokkanahalli',
 'Chikkaballapur',
 'Chamrajpet',
 'VGP Layout',
 'Classic Paradise Layout',
 'Byappanahalli',
 'Vasanth nagar',
 'Rayasandra',
 'Kalkere',
 'T.C. Palya',
 'Siddapura',
 'Makali',
 'Vibuthipura',
 '5th Block Hbr Layout',
 'Pai Layout',
 'Defence Layout',
 'Roopena Agrahara',
 'Banashankari Stage V',
 'Coconut Garden',
 'Gollahalli',
 'Sonnenahalli',
 'D Souza Layout',
 'ECC Road, Whitefield, ',
 'Seetharampalya',
 'Rukmaiah Layout',
 'Devanahalli Int. Airport',
 'Puttanahalli',
 'Benson Town',
 'Devasandra Extension',
 '2nd Phase Judicial Layout',
 '1st Block HRBR Layout',
 'Sarjapur Road, ',
 'Byadarahalli',
 'Poorna Pragna Layout',
 'Judicial Layout',
 'Varthur Road, ',
 'Chikka Banaswadi',
 'Outer Ring Road East',
 'Kavika Layout',
 'Vinayaka Nagar',
 'Banashankari Stage II',
 'Hennur Busstop',
 'GB Palya',
 'AMS Layout',
 '9th Block Jayanagar',
 'Karuna Nagar',
 'Ashwathnagar',
 'Gaurava Nagar',
 'Kengeri Satellite Town ( BDA SITE)',
 'AGS Layout',
 'Srinagar',
 'Brigade Road',
 'Bannerghatta',
 'Maruthi HBCS Layout',
 'Devanahalli Road',
 'Green Woods Layout',
 'Craig Park Layout',
 'Immadihalli',
 'Banagiri Nagar',
 'Hiremath Layout',
 'Jnanabharathi Layout',
 'Chikkasandra',
 'Bharath Housing Society Layout',
 '3rd Block Jayanagar',
 'Manjunatha Layout',
 'Konanakunte Cross',
 'Abbaiah Reddy Layout',
 'Tavarekere',
 'Thirumenahalli',
 'KPC Layout',
 'HOSUR MAIN ROAD',
 'Nandi Durga Road',
 'Kumara Park',
 'Daadys Gaarden Layout',
 'Maruthi Nagar',
 'Marsur',
 'Kallumantapa',
 'Malimakanapura',
 'Rustam Bagh Layout',
 'New Thippasandra',
 'Garden Layout',
 'Viswapriyanagar.begur Road.bommanahalli.',
 'T K Reddy Layout',
 'Kumbena Agrahara',
 'Pai layout , Mahadevapura',
 'frazertown',
 'Akshayanagara East',
 'Doddanekundi',
 'Venkatadri Layout',
 'Bommenahalli',
 'Mahaganapathy Nagar',
 'Andrahalli',
 'Vittal Nagar',
 '2Electronic City Phase II',
 '3rd Block Banashankari',
 'Bhuvaneshwari Nagar',
 'Kadarenahalli',
 'Laggere',
 'Victoria Layout',
 'Prithvi Layout',
 'Subramanyanagar',
 '1 Ramamurthy Nagar',
 '5th Stage BEML Layout',
 'IVC Road',
 'Jaya Mahal layout',
 'BSM Extension',
 'Vijinapura',
 'Banaswadi',
 'P&T Layout',
 'Byrasandra',
 'SBM Colony',
 'Veerannapalya',
 'Chowdeshwari Layout',
 'Mathikere Extension',
 'Sector 2 HSR Layout',
 'Anantapura',
 'Shivaji Nagar',
 'Badavala Nagar',
 '4th Block Koramangala',
 'Belatur',
 'Lalbagh Road',
 'Kamakya Layout',
 'Vignana Nagar',
 'Nallurhalli',
 'Chinnapanahalli',
 'Lingarajapuram',
 '3rd Block HBR Layout',
 'Laxmi Sagar Layout',
 'Nelamangala',
 'Nagavarapalya',
 'Hongasandra',
 'Harappanahalli',
 'BTM Layout',
 'Chennammana Kere',
 'Kanaka Nagar',
 'Tasker Town',
 'Govindpura',
 'NR Colony',
 'Agara Village',
 'Shettigere',
 'Kenchanehalli R R Nagar',
 'BEL Road',
 'Byagadadhenahalli',
 'Doddabommasandra',
 'Maruthi Layout',
 'Sree Narayana Nagar',
 'Tunganagara',
 'BTM 2nd Stage',
 'Remco Bhel Layout',
 'Chokkasandra',
 'Panduranga Nagar',
 'Sri Venkateshpura Layout',
 'Jakkur Plantation',
 'Sir M V Nagar',
 'Bikasipura',
 'Basaveshwara Nagar Yelahanka',
 '1st Block Koramangala',
 'Hoskote',
 'Attiguppe',
 'Srirampuram',
 'Yemlur',
 'Race Course Road',
 'Gkvk Layout',
 "St. John's Road",
 'Doopanahalli',
 'Doddaballapur',
 'Sathanur',
 'Ramamohanapuram',
 'kanakapura road',
 'Kaveri Nagar',
 'Sundar Ram Shetty Nagar',
 'Kirloskar layout, Basaveshwarnagar',
 'Alfa Garden Layout',
 'Gowdanapalya',
 'Hoodi Layout',
 'Gaundanapalya',
 'Arasanakunte',
 '5th block Koramangala',
 'JakkurYelahanka',
 'Gunjur Palya',
 'Upkar Layout',
 'Sunkadakatte',
 'Someshwara Layout',
 'Kathreguppe',
 'Channasandra Layout',
 'HAL 3rd Stage',
 'Doctors Layout',
 'Austin Town',
 'Rajagopala Nagar',
 'Vishwapriya Nagar',
 'Sarakki Nagar',
 'Bahubali Nagar',
 'Lottegolla Halli',
 'Nandini Layout',
 'Vibhutipura Extension',
 'B Channasandra',
 'Dollars Colony',
 'Arehalli',
 'Cambridge  road',
 'Hennur Gardens',
 'Thyagaraja Nagar',
 'Howthinarayanappa Garden',
 'Bharathi Nagar',
 'SRINIVASAPURA',
 'Cambridge Layout',
 ' ittamadu',
 'Doddakannelli',
 'Pulkeshi Nagar',
 'Thanisandra Main Road, ',
 'Jayanagar',
 ' Bhoganhalli',
 'Kumbalgodu',
 'banashankari stage iii sa',
 'Amruthnagar',
 'Palace Guttahalli',
 'Akshya Nagar',
 ' Anekal',
 'BCC Layout',
 'Mathikere',
 'Friends Colony',
 'Doddabidrakallu',
 'Sri Balaji Krupa Layout',
 'Bidadi',
 'Sampige Layout',
 'Virgonagar',
 'Dodsworth Layout',
 'Kudlu Village, ',
 'Rajiv Gandhi Nagar',
 'Kurubarahalli',
 'Sector 4 HSR Layout',
 'Bhagyalakshmi Avenue',
 'Kengeri Hobli',
 'Vyalikaval',
 'Banaswadi, ',
 'Balaji Gardens Layout',
 'Thavarekere',
 'HAL 2nd Stage',
 ' Devarabeesana Halli',
 ' Rachenahalli',
 'Tippenahalli',
 'Prestige Sunrise',
 '1st Stage Indira Nagar',
 'Srigandada Kaval',
 'Viswajit Layout',
 'Adityanagar',
 'BDS Layout',
 'Shanthi Layout',
 'Esther Enclave Layout',
 'Volagerekallahalli',
 'Keerthi Layout',
 'Ganga Nagar Extension',
 'Shikaripalya',
 'Huttanahalli',
 'Reliable Woods Layout',
 '4th T block Jayanagar',
 'Nayandanahalli',
 'Hagadur',
 'Popular Colony',
 'Soundarya Layout',
 'Banashankari 6th Stage ,Subramanyapura',
 'Amarjyothi Colony',
 'Pattanagere',
 'Dollars Layout',
 'Chikkabettahalli',
 'Bhuvaneswari Nagar',
 'Varanasi',
 'Gopal Reddy Layout',
 'sankeswari',
 'T c palya',
 'Govindraja Nagar',
 'Virat Nagar',
 'Chennammanakere Achukattu',
 'Maragondana Halli, kr puram, old madras road',
 'Dhanalakshmi Layout',
 'Jp nagar 8th Phase .',
 'Nobo Nagar',
 'Kanakapura Road',
 'Kadubeesanahalli',
 'J P Nagar 7th Phase Ramayya City',
 'Green Domain Layout',
 'Cleveland Town',
 'Syndicate Bank Colony',
 'Off Sarjapur road, ',
 'M C Layout',
 'Nanjappa Layout',
 'Dodda Banaswadi',
 'BEL Layout',
 'Sri Kanteshwara Nagar',
 'Bellari Road',
 'Jyothi Nagar',
 'Tata Nagar',
 'RK Layout 2nd Stage',
 'Tirumanahalli',
 'Raghuvanahalli',
 'Geddalahalli',
 'Brindavan Nagar',
 'Mariyannapalya',
 'Palace Road',
 'Pulikeshi Nagar',
 'Domlur Layout',
 'Vijaya Bank Layout',
 'Narayanappa Layout',
 '1Hanuman Nagar',
 'Wilson Garden',
 'Kumbhena Agrahara',
 'Challaghatta',
 'Nyanappana Halli',
 'Indira Nagar 3rd Stage',
 'KR Garden',
 'Kanakadasa Layout',
 'Mallathahalli',
 'Jayamahal Extension',
 'Laxminarayana Layout',
 'Sahyadri Layout',
 'Mathikere SBM colony',
 'white field,kadugodi',
 'Bagalur',
 'Vinayak Nagar',
 'P Krishnappa Layout',
 'Crimson Layout',
 'Hanumantha Nagar',
 'Bagalakunte',
 'Lavelle Road',
 'Goraguntepalya',
 'Rajankunte',
 '6th Block Rajaji Nagar',
 'MLA Layout',
 'Koramangala Industrial Layout',
 'Kyalasanahalli',
 'Nagadevanahalli',
 'Madiwala',
 'Rajarajeshwari Nagara',
 'Celebrity Paradise Layout',
 'St Thomas Town',
 'Ckikkakammana Halli',
 'Banashankari 2nd Stage',
 'Munivenkatppa Layout',
 'Kamala Nagar',
 'Kumarapalli',
 'Marenahalli',
 'Nagawara Junction',
 'Maithri Layout',
 'Raja Rajeshwari Nagar 5th Stage',
 'Nanjappa Garden',
 'Vayunandana Layout',
 'Geetanjali Layout',
 'Kenchenhalli',
 'EPIP AREA, WHITEFIELD',
 '1st Stage Domlur',
 'RMV extension stage 2, rmv extension',
 'Kalhalli',
 'Hadosiddapura',
 'Vijaya Bank Colony',
 'Lakkasandra',
 'JP Nagar 8th Phase, ',
 'Kachanayakanahalli',
 'Nagaraja Garden',
 '1 Annasandrapalya',
 '6th block Koramangala',
 'JP nagar 9th Phase, ',
 '4th Block Jayanagar',
 'Kuvempu Nagar',
 'Karnataka Shabarimala',
 'Canara Bank Colony',
 'Hanumagiri',
 'Seshadripuram',
 'Akshayanagara West',
 'Prasanth Extension',
 'Chikkathoguru',
 'Anand nagar',
 'West of Chord Road',
 'Junnasandra',
 'Handenahalli',
 'manyata tech park',
 'Sarvabhouma Nagar',
 'SMV layout',
 'CQAL LAYOUT C BLOCK',
 'Near Electronic City, ',
 'Banashankari stage 2',
 'Doddanakundi Industrial Area 2',
 'OLd Gurappanapalya',
 'Chikkadunnasandra',
 'Indranagar  100ft road defence colony',
 'Wajid layout thanisandra',
 'Achins Road',
 'Uvce Layout',
 'Gattigere',
 'Cottonpet',
 'singapura paradise',
 'Kannur',
 'Sampangi Rama Nagar',
 'BEML Layout 5th stage',
 'Pragathi Nagar',
 'Ramesh Nagar',
 'A Narayanapura',
 'Amblipura',
 'Rajarajeshwari nagar',
 'Rajarajeshwarinagar',
 'Jinkethimmanahalli',
 'Vimanapura',
 '1st Stage Radha Krishna Layout',
 'Bapuji Layout',
 'Vasantapura main road',
 'CQAL Layout',
 'Venugopal Reddy Layout',
 'Lake City',
 'Lakshmipura',
 'Old Town',
 'Okalipura',
 'Maruthi Extension',
 'Vidyapeeta',
 'Meenakshi Layout',
 'S R Layout',
 'GD Layout',
 'Kithaganur',
 'Shirdi Sai Nagar',
 'JP Nagar 7th Phase, ',
 'J C Nagar',
 'Sadduguntepalya',
 'Doddakammanahalli',
 'Bidrahalli',
 'Medi Agrahara',
 'whitefiled',
 'Subbannaiah Palya',
 'N R Layout',
 'Richards Town',
 'Manorayana Palya',
 'Madanayakahalli',
 'Mahalakshmi Puram',
 'Jaladarsini Layout',
 'Attur Layout',
 'Brooke Bond First Cross',
 'Glass Factory Layout',
 'Milk Colony',
 'Basnashankari,6th stage,',
 'Near ullas theater',
 'Chikkakannalli',
 'Yeshwanthpur Industrial Suburb',
 'Nandi Hills',
 'Thanisandra main road',
 'Saptagiri Layout',
 'Doddabanahalli',
 ' Electronic City',
 'Vijayabank bank layout',
 'D Group Employees Layout',
 'Hosahalli Extension',
 '1Channasandra',
 'Whitefield, ',
 'Kempegowda Nagar',
 'Vaderahalli',
 '4th Phase JP Nagar',
 'K R C kothanur',
 '2nd Block Jayanagar',
 'Singanayakanahalli',
 'Udaya Nagar',
 ' Whitefield',
 'Vaishnavi Layout',
 'Housing Board Layout Vijay Nagar',
 'Thomas Town',
 'Manganahalli',
 'Indra Nagar',
 't.c palya',
 'Ilyas Nagar',
 '3rd Phase JP Nagar',
 'kanakapura main road',
 'Reliaable Tranquil Layout',
 'Mailasandra',
 'Basvasamithi Layout Vidyaranyapura',
 '8th Block Jayanagar',
 'Atmananda Colony',
 'Baba Nagar',
 'Badrappa Layout',
 'Lal Bahadur Shastri Nagar',
 'Puttappa Layout',
 'Ananthanagar Phase 1,Electronic City , phase 2',
 'Bethel Nagar',
 'Kirloskar Layout',
 'tc.palya',
 'Dollar Scheme Colony',
 'Omarbagh Layout',
 'anjananager magdi road',
 'Kodipalya',
 'Aishwarya Crystal Layout',
 'DUO Layout',
 'Srinivas Colony',
 'Moodalapalya',
 'Gokaula Extension',
 'Subash Nagar',
 'RTO ullalu',
 'Carmelaram',
 'Hennur Bande',
 'ravindra nagar, T.dasarahalli peenya',
 '1st Block BEL Layout',
 'Prakruthi Township',
 'Bennigana Halli',
 'Seethappa Layout',
 'Langford Gardens',
 'Bellandur, ',
 'Marasandra',
 'Kalkere Channasandra',
 'Shakthi Nagar',
 'Ullal Uppanagar',
 ' south',
 'Rainbow Drive',
 '3rd Block Koramangala',
 'Jakkasandra Extension',
 'Ganesha Block',
 'Malur Hosur Road',
 'Lakshmipura Vidyaanyapura',
 'Hegganahalli',
 'Rajanna Layout',
 'Nagarbhavi  BDA Complex',
 'Gidada Konnenahalli',
 'Rahat Bagh',
 'Escorts Colony',
 'asha township, off hennur road',
 '1A Block Koramangala',
 'Near International Airport',
 'NTI Layout',
 'Fraser town',
 'Dasappa Layout',
 'Sonam Layout',
 'CR Layout',
 'BTM 4th Stage',
 'Arekempanahalli',
 'Chamundi Nagar',
 'MRCR Layout',
 'Shettihalli',
 'Gangondanahalli',
 'Ullal Road',
 'Hullahalli',
 'Jagajyothi layout',
 'Lakkasandra Extension',
 'Krishna Reddy Layout',
 'Kuvempu Layout',
 'Chickpet',
 'T G extension',
 '2nd Block Koramangala',
 'Devi Nagar',
 'GKW Layout',
 'Gandhi Nagar',
 'Jnana Ganga Nagar',
 'rr nagar',
 'Harohalli',
 'Stage-4 Bommanahalli',
 'Venkateshpuram',
 'Judicial Layout, Kanakapura Road, ',
 'Mullur',
 'J.P.nagar 6th Phase.Sarakki Nagar',
 'Doddabele',
 'Sadahalli',
 'Sathya Layout',
 '5 Bedroom Farm House in Lakshmipura',
 'Shanti Nagar',
 '2nd Stage Arekere Mico Layout',
 'Jayamahal',
 'Veer Sandra',
 'Chennappa Layout',
 'RMV Extension Stage 2',
 ...]

In [93]:
df["location"].nunique()

1305

In [96]:
df.location.value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64